<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="/assets/back/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <div class="container">
        <app-sidebar-back></app-sidebar-back>
        <main><router-outlet></router-outlet></main>


        <div class="right-section">
            <app-navbar-back></app-navbar-back></div>
            </div>
        
        <app-footer-back></app-footer-back>
    <script src="/assets/back/js/orders.js"></script>
    <script src="/assets/back/js/index.js"></script>