<div class="con">
  <h2><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list-task" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5zM3 3H2v1h1z"/>
    <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1z"/>
    <path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5zM2 7h1v1H2zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm1 .5H2v1h1z"/>
  </svg> Feedback List</h2>
  <input type="text" [(ngModel)]="feedback" placeholder="search somthing..." style="margin-bottom: 20px;">
  <table class="table">
    <thead>
      <tr>
        <th>Role</th>
        <th>Feedback</th>
        <th>Report id</th>
        <th>Rating</th>
        <th>Consultant Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let feedback of listfeedbacks ">
        <td>{{ feedback.role }}</td>
        <td>{{ feedback.feedback }}</td>
        <td>{{ feedback.reportId }}</td>
        <td>{{ feedback.rating }}</td>
        <td>{{ feedback.consultantName }}</td>
        <td>
          <button mat-raised-button class="btn btn-transparent" (click)="deleteFeedback(feedback.id)">

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
              <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
            </svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <br><br><br>
  <h2>Consultant Scores</h2>
  <table class="table" id="tab2">
    <thead>
      <tr>
        <th>Consultant Name</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of sortedConsultantScores">
        <td>{{ entry[0] }}</td>
        <td>{{ entry[1] }}</td>
      </tr>
    </tbody>
  </table>

  <div>
    <button class="abc" mat-raised-button (click)="sortScoresAscending()">Sort Ascending</button>
    <button class="abc"mat-raised-button (click)="sortScoresDescending()">Sort Descending</button>
  </div>
  <br><br><br>
  <h2>Statistics</h2>
  <div style="width: 50%">
    <canvas id="scoreChart"></canvas>
  </div>



</div>
