/* Conteneur principal */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f8f9fa;
}

/* Tableau des factures */
.table {
  background-color: #ffffff;
  width: 80%;
  max-width: 1000px;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* En-tête de la page */
h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

/* Styles pour chaque ligne de facture */
tr {
  background-color: #f2f2f2;
}

/* Styles pour chaque cellule de facture */
td {
  padding: 10px;
  border-bottom: 1px solid #dee2e6;
}

/* Styles pour les en-têtes de colonnes */
th {
  padding: 10px;
  background-color: #007bff;
  border-bottom: 2px solid #dee2e6;
  font-weight: bold;
  color: #fff;
  text-align: left;
}

/* Styles pour les boutons */
.btn-group {
  display: flex;
}

.btn {
  margin-right: 5px;
  padding: 8px;
  border: none;
  background-color: #28a745; /* Couleur de fond verte */
  color: #fff; /* Couleur du texte blanc */
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Styles pour les icônes dans les boutons */
.btn i {
  font-size: 18px;
}

/* Style de survol des boutons */
.btn:hover {
  background-color: #218838; /* Couleur de fond verte légèrement plus foncée au survol */
}
