<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">
<link href="/assets/front/css/bootstrap.min.css" rel="stylesheet">
<link href="/assets/front/css/fontawesome-all.min.css" rel="stylesheet">
<link href="/assets/front/css/swiper.css" rel="stylesheet">
<link href="/assets/front/css/styles.css" rel="stylesheet">

<!-- Favicon  -->
<link rel="icon" href="/assets/front/images/coconsult.png">
<app-header-front></app-header-front>
<router-outlet></router-outlet>
<app-footer-front></app-footer-front>
<!-- Scripts -->
<script src="/assets/front/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
<script src="/assets/front/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
<script src="/assets/front/js/purecounter.min.js"></script> <!-- Purecounter counter for statistics numbers -->
<script src="/assets/front/js/replaceme.min.js"></script> <!-- ReplaceMe for rotating text -->
<script src="/assets/front/js/scripts.js"></script> <!-- Custom scripts -->