
<div class="ex-form-1 pt-5 pb-5">
  <div >
    <div class="row">
      <div class="col-xl-6 offset-xl-3">
        <div class="text-box mt-5 mb-5">
          <form #f="ngForm" (ngSubmit)="update(f)">
            <div class="upload-section">
              <div> <input type="file" (change)="onCVSelected($event)">Add cv </div>
            </div>
            <div class="mb-4 form-floating">
              <input type="text" class="form-control" id="floatingInput2" name="trainingsname" [(ngModel)]="train.trainingsname" >
              <label for="trainingsname">trainings name :</label>
            </div>
            <div class="mb-4 form-floating">
              <input type="text" class="form-control" id="floatingPassword" name="trainingsDescpriton" [(ngModel)]="train.trainingsDescpriton" >
              <label for="trainingsDescpriton"> Description :</label>
            </div>
            <div class="mb-4 form-floating">
              <input type="text" class="form-control" id="floatingPassword1" name="trainingsduration" [(ngModel)]="train.trainingsduration" >
              <label for="trainingsduration">Duration :</label>
            </div>
            <!-- <div class="mb-4 form-floating">
              <input type="text" class="form-control" id="floatingPassword1" name="trainingsconsultantname" [(ngModel)]="train.trainingsconsultantname" >
              <label for="trainingsconsultantname">Consultant name :</label>
            </div> -->
            <div class="mb-4 form-floating">
              <input type="date" class="form-control" id="floatingPassword3" name="trainingsDate" [(ngModel)]="train.trainingsDate" >
              <label for="trainingsDate">training date :</label>
            </div>
            <div class="mb-4 form-floating">
              <input type="number" class="form-control" id="positionNumber" name="positionNumber" [(ngModel)]="train.positionNumber" >
              <label for="positionNumber">Position Number</label>
            </div>
            <div class="mb-4 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck">I agree with the site's stated <a href="privacy.html">Privacy Policy</a> and <a href="terms.html">Terms & Conditions</a></label>
            </div>
            <form [formGroup]="aFormGroup" class="recaptcha-form">
              <ngx-recaptcha2 #captchaElem
                [siteKey]="siteKey"
                formControlName="recaptcha">
              </ngx-recaptcha2>
            </form>
            <button id="abc" type="submit" class="form-control-submit-button">Update </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
