<br><br><br><br><br>

<div class="card border-0 shadow">
  <div class="card-body">
    <h2 class="card-title mb-4">Job Application Statistics</h2>

    <div class="chart-container">
      <canvas #myChart></canvas>
    </div>
    <br><br>
    <div class="table-responsive">
      <table class="custom-table">
        <tbody>
        <tr>
          <td class="title">Total Job Offers</td>
          <td class="data">{{ totalJobOffersText }}</td>
        </tr>
        <tr>
          <td class="title">Application Statistics</td>
          <td class="data">{{ applicationStatsText }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
    </div>


  </div>
</div>
