<div class="ex-form-1 pt-5 pb-5">
  <div>
    <div class="row">
      <div class="col-xl-6 offset-xl-3">
        <div class="text-box mt-5 mb-5">
          <form #f="ngForm" (ngSubmit)="add(f); formSubmitted = true;">
            <div class="mb-4 form-floating">
              <input type="text" class="form-control" id="floatingInput2" name="nameConsult" [(ngModel)]="consult.name" required minlength="3" #nameConsult="ngModel">
              <label for="nameConsult">nameConsult</label>
              <div *ngIf="(formSubmitted || nameConsult.touched) && nameConsult.invalid" class="text-danger">
                <div *ngIf="nameConsult.errors?.['required']">
                  Name is required.
                </div>
                <div *ngIf="nameConsult.errors?.['minlength']">
                  Name must be at least 3 characters long.
                </div>
              </div>
            </div>
            <div class="mb-4 form-check" *ngFor="let skill of availableSkills">
              <input type="checkbox" class="form-check-input" id="{{ skill }}" name="skills" [(ngModel)]="selectedSkills[skill]" [value]="skill">
              <label class="form-check-label" for="{{ skill }}">{{ skill }}</label>
            </div>
            <div *ngIf="!atLeastOneSkillSelected() && (formSubmitted || f.submitted)" class="text-danger">
              At least one skill must be selected.
            </div>
            <div class="mb-4 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
              <label class="form-check-label" for="exampleCheck">I agree with the site's stated <a href="privacy.html">Privacy Policy</a> and <a href="terms.html">Terms & Conditions</a></label>
            </div>

            <form [formGroup]="aFormGroup" class="recaptcha-form">
              <ngx-recaptcha2 #captchaElem
                [siteKey]="siteKey"
                formControlName="recaptcha">
              </ngx-recaptcha2>
            </form>
            <button id="abc" type="submit" class="form-control-submit-button">Add </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
