<!-- invoices-details.component.html -->

<!-- invoices-details.component.html -->
<br>
<br>
<br>
<br>
<div class="invoice-details-container">
  <h2 class="center">Détails de la facture</h2>
  <div class="invoice-details">
    <h3>Informations sur la facture :</h3>
    <table class="table">
      <tbody>
      <tr>
        <th scope="row">ID de la facture :</th>
        <td>{{ invoice?.idInvoices }}</td>
      </tr>
      <tr>
        <th scope="row">Nom du destinataire :</th>
        <td>{{ invoice?.nameDestinaire }}</td>
      </tr>
      <tr>
        <th scope="row">Email du destinataire :</th>
        <td>{{ invoice?.emailDestinaire }}</td>
      </tr>
      <tr>
        <th scope="row">Date de la facture :</th>
        <td>{{ invoice?.dateInvoice | date }}</td>
      </tr>
      <tr>
        <th scope="row">Montant :</th>
        <td>{{ invoice?.amount }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
