<div class="card border-0 shadow">
  <div class="card-body">
    <h2 class="mt-4">Users List</h2>
    <br>
    <!-- Champ de recherche par nom -->
    <div class="d-flex justify-content-end mb-3">
      <input type="text" class="form-control" [(ngModel)]="searchTerm" (input)="filterUsers()" placeholder="Search by username">
    </div>
    <div class="table-responsive" *ngIf="filteredUsers && filteredUsers.length">
      <table class="table table-striped">
        <thead class="table-success" style="background-color: #057077">
          <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of filteredUsers">
            <td>{{ user.id }}</td>
            <td>{{ user.email}}</td>
            <td>
              <button class="btn btn-primary btn-sm me-2" [routerLink]="['/back/updateUser/', user.id]">
                <i class="fas fa-pencil-alt"></i> Update
              </button>
              <button class="btn btn-danger btn-sm me-2" (click)="deleteUser(user.id)">
                <i class="fas fa-trash-alt"></i> Delete
              </button>
              <button class="btn btn-info btn-sm me-2" [routerLink]="['/back/viewUser/', user.id]">
                <i class="fas fa-eye"></i> View
              </button>
              <button class="btn btn-warning btn-sm me-2" (click)="banUser(user.id)">
                <i class="fas fa-ban"></i> Ban
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="!filteredUsers || filteredUsers.length === 0" class="text-center my-5">
      <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Aucun utilisateur trouvé</h4>
        <p class="mb-0">Désolé, aucun utilisateur n'est disponible pour le moment.</p>
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-primary mt-3" [routerLink]="['/back/addUser']">Add User</button>
    </div>
  </div>
</div>
