
        <div class="col-xl-8">
          <!-- Informations du profil -->
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">{{ user?.username }}'s Profile</h2>
              <p><strong>Email:</strong> {{ user?.email }}</p>
              <p><strong>Gender:</strong> {{ user?.gender }}</p>
              <p><strong>Department:</strong> {{ user?.departmentName }}</p>
              <p><strong>Date of Birth:</strong> {{ user?.dateOfBirth }}</p>
              <div class="d-flex flex-wrap">
              </div>
            </div>
          </div>
        </div>
   
  